* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #EEEEEE;
    color: #EB4432;
    width: 100vw;
    height: 100vh;
}

.bg-primary {
    background-color: #EB4432 !important;
}

button:hover {
    filter: brightness(.9);
    transition: 200ms;
}

input:focus {
    border-color: #EB4432 !important;
    box-shadow: 0 0 0 .25rem rgba(235, 68, 50, .25) !important;
}